:root {
  --color-dark: #1c1d22;
  --color-light: #f0f0f0;
}

html, body, article {
  height: 100%;
  padding: 0;
}

html {
  background: var(--color-light);
  color: var(--color-dark);
  font-size: calc(0.8rem + 0.5vw);
  margin: 0;
}

body {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: auto;
  max-width: 50em;
}

body > header {
  background: var(--color-dark);
  color: var(--color-light);
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 10px;
}

a {
  color: #6495ed;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 5px;
}
