<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {% if page.title %}
      {% if page.collection %}
        {% for collection in site.collections %}
          {% if collection.label == page.collection %}
            {{ collection.title | downcase }}
          {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {{ page.title | downcase }} -
    {% endif %}{{ site.title }}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jura">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/highlight.css' | relative_url }}">
</head>
<body>
  <header>
    <div style="text-align: right; width: 10.75em;">
      <a style="color: white; font-size: 0.7em;" href="https://zhak.github.io">zhak.github.io</a>
      <hr class="fading" style="width: 100%;">
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div style="display: flex;">
        <div style="display: flex; flex-direction: column; line-height: 1;">
          <span style="font-size: 1.15em;">
            AArch64
          </span>
          <span style="color: #808080; text-align: right;">
            OS DEV
          </span>
        </div>
        <span style="color: goldenrod; font-size: 2.25em; line-height: 1; margin-left: 6px;">
          notes
        </span>
      </div>
      <div>
        <a style="color: white;" href="{{ '/contents.html' | relative_url }}">contents</a>
      </div>
    </div>
  </header>
  <article>
    {{ content }}
  </article>
</body>
</html>
